/*--------------- fonts ---------------*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');

html,
body {
	font-size: 14px;
}
.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

/*--------------- header ---------------*/

.header {
	padding: 80px 0 70px 0;
}
.header__title {
	font-family: Fira Sans;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 3.42rem;
	text-align: center;
	letter-spacing: 1.5px;
	color: #2a2a2a;
}
.header__logo {
	margin: 30px auto 40px auto;
}
.logo {
	max-width: 580px;
}
.logo__icon {
	width: 100%;
}
.model {
	display: flex;
	justify-content: center;
}
.model__text,
.model__name {
	font-family: Fira Sans;
	font-size: 2.57rem;
	text-transform: uppercase;
}
.model__text {
	font-weight: 400;
	margin-right: 10px;
}
.model__name {
	font-weight: 500;
	max-width: 200px;
	color: #54af3a;
}

/*--------------- product-type ---------------*/

.wrapper {
	background-color: #e8f5fd;
	padding: 25px 0;
}
.product-type {
	padding: 25px 0;
}
.product-type__inner {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.product-type__picture {
	width: 270px;
    margin-top: 50px;
}
.picture {
	max-width: 270px;
}
/* width */
.size-field-bottom,
.size-field {
	display: flex;
}
/* Put your information there for width
--------------------------------*/
.type-1 .size-field__step-right {
	width: 0;
}
.type-1 .picture__width {
	width: 42%;
}
.type-1 .size-field__step-left {
	width: 34.5%;
}
/* type-2 top-width */
.type-2 .size-field__step-right {
	width: 13%;
}
.type-2 .picture__width {
	width: 42%;
}
.type-2 .size-field__step-left {
	width: 45%;
}
/* type-2 bottom-width */
.type-2 .size-field-bottom .size-field__step-right {
	width: 12%;
}
.type-2 .size-field-bottom .picture__width {
	width: 64%;
}
.type-2 .size-field-bottom .size-field__step-left {
	width:24%;
}
/* type-3 top-width */
.type-3 .size-field__step-right {
	width: 23.5%;
}
.type-3 .picture__width {
	width: 42%;
}
.type-3 .size-field__step-left {
	width: 34.5%;
}
/* type-3 bottom-width */
.type-3 .size-field-bottom .size-field__step-right {
	width: 0%;
}
.type-3 .size-field-bottom .picture__width {
	width: 85%;
}
.type-3 .size-field-bottom .size-field__step-left {
	width:13%;
}
/* ----------------------------- */
.width {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	position: relative;
}
.triangle-left {
	position: relative;
}
.triangle__icon {
	width: 5px;
	height: 5px;
	display: block;
	fill: #00a2e6;
}
.triangle-up::before,
.triangle-down::before,
.triangle-right::before,
.triangle-left::before {
	content: '';
	width: 1px;
	height: 22px;
	background-color: #00a2e6;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(calc(-50% + 2.5px));
}
.triangle-down,
.triangle-up {
	position: relative;
}
.triangle-down::before {
	width: 22px;
	height: 1px;
	margin-top: 4px;
	transform: translate3d(calc(-50% + 2.5px), 0, 0);
}
.triangle-up::before {
	margin-top: -1px;
	transform: translate3d(calc(-50% + 2.5px), 0, 0);
	width: 22px;
	height: 1px;
}
.triangle-right::before {
	left: 4px;
}
.line-width {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #00a2e6;
	display: block;
}
.triangle-right {
	position: relative;
}
.triangle-right .triangle__icon {
	transform: rotate(180deg);
}
.triangle-up .triangle__icon {
	transform: rotate(90deg);
}
.triangle-down .triangle__icon {
	transform: rotate(-90deg);
}
.size-width {
	font-family: Fira Sans;
	font-weight: 400;
	max-width: 300px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	color: #00a2e6;
}
.size-field-bottom .size-width{
    top: 20px;
}
.picrure__img {
	display: block;
	margin: 0 auto;
	max-width: 235px;
	max-height: 275px;
}
/* height */
.size-height {
	top: 50%;
	left: -40px;
	transform: rotate(-90deg) translateY(-50%);
	display: block;
	width: 100px;
	text-align: center;
	font-family: Fira Sans;
	font-weight: 400;
	position: absolute;
	color: #00a2e6;
}
.picture__block {
	display: flex;
	justify-content: center;
}
.size-field-height {
	display: flex;
	flex-direction: column;
}
/* Put your information there for height
--------------------------------*/
/* type-1 */
.type-1 .size-field-height__step-top {
	height: 0;
}
.type-1 .size-field-height__step-bottom {
	height: 0;
}
/* type-2 */
.type-2 .size-field-height__step-top {
	height: 0;
}
.type-2 .size-field-height__step-bottom {
	height: 0;
}
/* ------------------------------ */
.picture__height {
	width: 30px;
}
.height {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(1px);
}
.line-height {
	content: '';
	height: calc(100% - 11px);
	width: 1px;
	background-color: #00a2e6;
	display: block;
}

/*--------------- table ---------------*/

.table {
    width: 74%;
}
.table__inner {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-auto-flow: column;
    justify-content: stretch;
}
.table__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__item {
    display: flex;
    justify-content: center;
    align-items: center;;
    text-align:center;
    font-size: 1rem;
    font-family: Fira Sans;
    font-weight: 400;
    background-color:#fff;
    border: 1px solid  #00a0e3;
    border-top: none;
    padding: 15px 20px;
}
.table__item p{
	max-width: 175px;
}
/* table options classes */
.table__item--title{
    background-color: #00a0e3;
    border:1px solid #fff;
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.table__item--green-back{
    background-color: #54af3a;
    color: #fff;
    border: 1px solid #fff;
}
.table__item--green-border{
    border: 1px solid #54af3a;
    border-top:none;
}
.no-left-border{
    border-left:none;
}
.no-bottom-border{
    border-bottom:none;
}
.hide {
	display: none;
}

/*--------------- @media ---------------*/

@media (max-width: 920px) {
	/* product-type 920 */
    .product-type__inner{
        flex-direction: column;
    }
    .table{
        width: 100%;
    }
    .product-type__picture{
        margin: 0 auto 50px auto;
    }
}
@media (max-width: 650px) {
	/* header 650 */
	.header {
		padding: 30px 0 40px 0;
	}
	.header__title {
		font-size: 2.5rem;
	}
	.header__logo {
		margin: 15px auto 20px auto;
	}
	.logo__icon{
		padding: 0 20px;
	}
	/* table 650 */
    .table__item-icon{
        display: none;
    }
}
@media (max-width: 600px) {
    .container{
        padding: 0 5px;
    }
	/* table 600 */
    .table__inner{
        display: flex;
        flex-direction: column;
    }
    .table__item{
       justify-content: flex-end; 
    }
    .table__item p{
        max-width: 150px;
        text-align: right;
    }
    .table__item::before{
        content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:30px;
		font-size:1.3rem;
		font-weight: 500;
		text-align: left;
        font-family: Fira Sans;
    }
    .table__item--green-border{
        background-color: #54af3a;
        color:#fff;
        border: 1px solid #fff;
    }
    .table__item--title-margin{
        margin-top: 25px;
    }
    .hide-column{
        display: none;
    }
}
@media (max-width: 460px) {
    .table__item::before{
		font-size:1rem;
    }
}
@media (max-width: 320px) {
	.header__logo {
		margin: 0 auto;
	}
}


